.App{
    width: 50%;
    height: 50%;
   
}
.page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
/* Global variables */


/* Reset */
/* remove padding, margin , and some other things from everything(body, p, ul ,li, a, h1-6) */
img{
    height: 13em;
    /* width: 30em; */
}


/* Base Styles */
/*  set font family, size, and other things in which other class calculate their relative styles from */


/* Styles for Mobiles Phone */
@media screen and (max-width: 620px){
    .App {
        width: 80%;
        /* height: 50%; */
        /* background-color: lightseagreen; */
    }
}

/*  Styles for Tablets, and laptops > 620px */


/* Styles for ......> 960px */


/*  Styles fro Desktop ...... > 11150px */


